/**
 * Palette : http://www.colourlovers.com/palette/148712/Gamebookers
 */

body {
	font-family: 'Roboto';

	padding: 0;
	margin: 0;

	color: #424242;
	background-color: #e9e9e9;

	font-size: 16px;
	line-height: 1.3em;
}

body > * {
	padding: 0 1em;
}

header {
	color: #BCBCBC;
	background-color: #3299BB;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.677em;
	padding: 1.5em 0.5em;
 	border-bottom: 0.25em solid #BCBCBC;
}

.portrait {
	border-radius : 50%;
}

h1 {
	color: #e9e9e9;
}

section > * {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5 {
	text-shadow: 0 .1em .1em rgba(128,128,128,.3);
}

h2 {
	text-align: center;
	font-size: 2em;
	line-height: 1.8125em;
}

dt {
	color: #FF9900;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.677em;
}

dd + dt {
	margin-top: 1.677em;
}

dd {
	margin: 0;
}
