/**
 * Palette : http://www.colourlovers.com/palette/148712/Gamebookers
 */

body {
	font-family: 'Roboto';

	padding: 0;
	margin: 0;

	color: #424242;
	background-color: #fff;

	font-size: 16px;
	line-height: 1.3em;
}

a {
	color: #3299BB;
}

body > * {
	padding: 0 1em;
}

header {
	color: #72c0da;
	background-color: #3299BB;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.677em;
	padding: 3.334em 0.5em;
 	border-bottom: 0.25em solid #72c0da;
}

.portrait {
	border-radius : 50%;
	border: 0.25em solid #fff;
}

h1 {
	color: #e9e9e9;
}

section > * {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 2em;
	line-height: 1.8125em;
	margin-top: 3.625em;
	color: #ff8080;
}

dt {
	color: #bbb;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.677em;
}

dd + dt {
	margin-top: 1.677em;
}

dd {
	margin: 0;
}
